/* lots of dragging and mouse clicking in app, highlight selections were distracting/irrelevant to have */
::-moz-selection{
  background-color:Transparent;
  color:#000;
}

::selection {
  background-color:Transparent;
  color:#000;
}

html {
  min-height: 100%;
  font-size: 100%;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#5A5353, #A07178, #E6CCBE, #776274) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

footer {
  width: 50%;
}

button:hover {
  cursor: pointer;
}

label[for="model-files"] {
   border: 2px solid black;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: whitesmoke;
   padding: 3px;
}

label[for="schema-file"] {
  border: 2px solid black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke;
  padding: 3px;
}

label:hover {
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

i {
  padding: 5px;
}

i:hover {
  cursor: pointer;
}

#assoc-pad {
  margin-top: 10px;
  font-size: 14px;
  border-style: solid;
  background: #A07178;
  text-align: center;
  box-shadow: 0px 0px 3px 4px black;
  border-radius: 25px;
  font-weight: bold;
  overflow-x: hidden;
  z-index: -1;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  height: 200px;
}

#assoc-pad > p:hover {
  cursor: pointer;
  color: blue;
}

#attr-pad {
  margin-top: 10px;
  font-size: 14px;
  border-style: solid;
  background: #A07178;
  text-align: center;
  box-shadow: 0px 0px 3px 4px black;
  border-radius: 25px;
  font-weight: bold;
  overflow-x: hidden;
  width: 100%;
  height: 200px;
  z-index: -1;
  padding: 10px;
  font-weight: bold;
}

#draggable {
  background: #99e600;
}

.top-menu-actions {
  background: #A07178;
  text-align: center;
  border-style: solid;
  padding: 10px;
  z-index: 1;
  box-shadow: 0px 0px 3px 4px black;
}

.top-btns {
  width: 110px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-color: black;
  font-weight: bold;
  margin-right: 5px;
  background: white;
  letter-spacing: 0.5px;
  font-size: 10px;
}

.top-btns:hover {
  background: black;
  color: whitesmoke;
}

.sidebar-btns {
  font-size: 12px;
  margin: 2px;
  vertical-align: middle;
  background-color: white;
  position: relative;
  width: 100px;
  height: 35px;
  padding: 5px;
  font-weight: 600;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  box-shadow: 0.7px 0.7px 1.3px 2.4px black;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  z-index: 1;
  cursor: pointer;
  transition:         0.50s ease-in;
  -o-transition:      0.50s ease-in;
  -ms-transition:     0.50s ease-in;
  -moz-transition:    0.50s ease-in;
  -webkit-transition: 0.50s ease-in;
}

.left-btns:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

.model {
  text-align: center;
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 66px;
  resize: both;
  overflow: hidden;
  font-family: Copperplate,"Copperplate Gothic Light",fantasy,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: linear-gradient(white,#A07178);
  background-size: contain;
  box-shadow: 3px 3px 3px 3px black;
  padding: 30px;
  font-weight: bold;
  z-index: 99;
}

.model:hover {
  cursor: pointer;
}

.highlight {
  background: linear-gradient(#cac531,#f3f9a7);
}

.none {
 display: none;
}

.controls {
  padding: 20px;
  background: #A07178;
  border: solid;
  transition: .5s;
  text-align: center;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  position: fixed;
  margin: auto;
  left: 0; bottom: 2px; right: 0;
  width: 100%;
}

.hide-controls {
  bottom: -200px;
}

.canvas-btns {
  text-align: center;
}

.sidebar-btns:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.arrows {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
}

.arrow {
  position: fixed;
  font-size: 65px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.arrow:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.total-associations {
  font-size: 2vw;
  margin-top: 10px;
  text-align: center;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.selected-model {
  font-size: 2vw;
  margin-top: 10px;
  text-align: center;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.opacity {
  opacity: 0;
  display: none;
}

.total-associations::selection{
  background-color:Transparent;
  color: whitesmoke;
}

.selected-model::selection {
  background-color:Transparent;
  color: whitesmoke;
}

.associations {
  display: none;
}

.attributes {
  display: none;
}

.modal-dialog {
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

@media only screen and (max-width: 1150px) {

  .screen-size-warn {
    display: block !important;
    position: absolute;
    right: 25%;
    left: 25%;
    top: 25%;
    font-size: 30px;
    color: white;
  }

  #attr-pad, #assoc-pad, .attr-info,
  .assoc-info, .controls, .top-menu-actions,
  .model, .arrow {
    opacity: 0;
  }
}
